<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align: center; margin-bottom: 4%">Type the values for us to create new object</h1>
<div class="container">
    <form method="POST"
          action="{{ url_for('add_record') }}">
        <div class="form-group">
            <label for="categorical">Categorical:</label>
            <input type="text" class="form-control" id="categorical" placeholder="Categorical:" name="categorical">
        </div>
        <div class="form-group">
            <label for="continuous1">Continuous1:</label>
            <input type="text" class="form-control" id="continuous1" placeholder="Continuous1:" name="continuous1">
        </div>
        <div class="form-group">
            <label for="continuous2">Continuous2:</label>
            <input type="text" class="form-control" id="continuous2" placeholder="Continuous2:" name="continuous2">
        </div>

        <button class="btn btn-primary">SUBMIT</button>
    </form>
</div>

</body>
</html>