<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>ID</td>
        <td>Categorical</td>
        <td>Feature1</td>
        <td>Feature2</td>
    </tr>
    </thead>
    {% for row in range(row_count) %}
    <tr>
        <td>{{ ID }}</td>
        <td>{{ categorical }}</td>
        <td>{{ continuous1 }}</td>
        <td>{{ continuous2 }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>