<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database of objects</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>
<div>
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>ID</td>
        <td>Categorical</td>
        <td>Continuous1</td>
        <td>Continuous1</td>
    </tr>
    </thead>
    {% for object in objects %}
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.categorical }}</td>
        <td>{{ object.continuous1 }}</td>
        <td>{{ object.continuous2 }}</td>
        <td>
            <form method="POST"
                  action="{{ url_for('delete_record', record_id=object.id) }}">
                <button>DELETE</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
<div style="display: flex; justify-content: center">
    <form method="GET"
          action="{{ url_for('display_adding_form') }}">
        <button>ADD NEW RECORD</button>
    </form>
</div>
</body>
</html>